.footer {
    background-color: $color-grey-dark-3;
    padding: 10rem;
    font-size: 1.4rem;
    color: $color-grey-1;

    &__logo {
        width: 15rem;
        height: auto;
        margin: 0 auto;
        margin-bottom: 8rem;
        display: block;
    }

    &__navigation {
        border-top: 2px solid $color-grey-dark;
        padding-top: 2rem;
        display: inline-block;
    }

    &__list {
        list-style: none;
        float: left;
        width: 80%;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__link {
        &:link,
        &:visited {
            color: $color-grey-1;
            background-color: $color-grey-dark-3;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
        }

        &:hover,
        &:active {
            color: $color-primary;
            box-shadow: 0 1rem 2rem rgba($color-black, .4);
            transform: rotate(-3deg) scale(1.3);
        }
    }

    &__copyright {
        width: 80%;
        float: right;
    }
}
