.section-about {
    background-color: $color-grey-1;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
        url(../img/nat-4.jpg);
    background-size: cover;

    clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
    /* Or, if we don't need normal image, use:
    transform: skewY(-7deg)
    after that, for direct children:p
    & > * { transform skewY(7deg) }
    */
    margin-top: -11rem;

}

.section-tours {
    background-color: $color-grey-1;
    padding: 25rem 0 50rem 0;
    margin-top: -12rem;
}