.card {
    perspective: 200rem;
    background-color: transparent;
    flex:1;

    &__inner {
        height: 50rem;
        border-radius: 10px;
        transition: transform .8s ease;
        transform-style: preserve-3d;
        position: relative;
        box-shadow: 0 1.5rem 4rem 0 rgba(0,0,0,0.2);

        &_front, &_back {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            left: 0;
            border-radius: 10px;
            // image always more, than radius, so use overflow
            overflow: hidden;

            backface-visibility: hidden;
        }

        &_front {
            background-color: $color-white;
        }

        &_back {
            transform: rotateY(180deg);

            &_color1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light,$color-secondary-dark);
            }
            &_color2 {
                background-image: linear-gradient(to right bottom, $color-primary-light,$color-primary-dark);
            }

            &_color3 {
                background-image: linear-gradient(to right bottom, $color-tertiary-light,$color-tertiary-dark);
            }
        }
    }

    &:hover &__inner {
        transform: rotateY(180deg);
    }

    &:not(:last-child) {
        margin-right: $gutter-horizontal;
    }

    // STYLING FRONT SIDE
    &__picture {
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

        &_1 {
            // use path for root compiled file css (/css/style.css).
            background-image: linear-gradient(to right bottom, $color-secondary-light,$color-secondary-dark), url(../img/nat-5.jpg);
        }

        &_2 {
            background-image: linear-gradient(to right bottom, $color-primary-light,$color-primary-dark), url(../img/nat-6.jpg);
        }

        &_3 {
            background-image: linear-gradient(to right bottom, $color-tertiary-light,$color-tertiary-dark), url(../img/nat-7.jpg);
        }
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-align: right;
        text-transform: uppercase;
        color: $color-white;
        width: 65%;


        &_first {
            position: absolute;
            padding: .1rem 1rem;
            top: 12rem;
            right: 2.5rem;
        }

        &_second {
            position: absolute;
            padding: 0rem 1rem;
            top: 16rem;
            right: 2.5rem;
        }
    }

    &__heading_textbox {

        &_1 {
            background-image: linear-gradient(to right bottom, rgba($color-secondary-light, .85),
                                rgba($color-secondary-dark, .85));
        }

        &_2 {
            background-image: linear-gradient(to right bottom, rgba($color-primary-light, .85),
                                rgba($color-primary-dark, .85));
        }

        &_3 {
            background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, .85),
                                rgba($color-tertiary-dark, .85));
        }
    }

    &__details {
        padding: 3rem;

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-light;
                }
            }
        }
    }

    // BACK SIDE STYLING
    &__cta {
        position: absolute;
        text-align: center;
        color: $color-white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__backText {
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__backPrice {
        font-size: 6rem;
        font-weight: 100;
        margin-bottom: 8rem;
    }
}
