.composition {
    position: relative;

    &__photo {
        box-shadow: 0 1.5rem 4rem rgba($color-black, .3);
        border-radius: 2px;
        position: absolute;

        &_p1 {
            left: 0;
            top: -2rem;
        }

        &_p2 {
            right: 0;
            top: 4rem;
        }

        &_p3 {
            left: 20%;
            top: 10rem;
        }
    }
}