.composition {
    position: relative;

    &__photo {
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        position: absolute;
        z-index: 1;
        transition: all .5s;
        outline-offset: 1rem;

        &_p1 {
            left: 0;
            top: -2rem;
        }

        &_p2 {
            right: 0;
            top: 4rem;
        }

        &_p3 {
            left: 20%;
            top: 10rem;
        }

        &:hover {
            outline: 1.5rem solid $color-primary;
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 1.7rem 4rem rgba($color-black, .3);
            z-index: 2;
        }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.9);
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
    }
}